.checklist-visual-wrap {
    width: 350px;
    height: 250px;
    display: inline-block;
    text-align: center;
    padding: 20px;
    transition: .3s;
    cursor: pointer;
    animation: drop-fade-in .7s;
}

.checklist-visual-wrap:hover {
    padding: 15px;
}

@keyframes drop-fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}